<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <!--li><%= link_to "About",   '#' %></li                          The # is a stub a framework holder for the rails line below-->
      <!-- <a href="/static_pages/about">About</a>			This is what would normally replace it HTML but voila! below --> 											
      <%= link_to "About", about_path %>  			    <!--Is the new and improved line -->	
      <%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>